// ==Custom CSS==
// Variables
$clr-primary: #772823;
$clr-secondary: #C4A26F;
$clr-light: #E0E0DD;
$clr-dark: #333745;


// Colors
$theme-colors: (
  "primary": #771813,
  "secondary": #C4A26F,
  "light": #E0E0DD
);


// FONTS
$fnt-primary: 'Bebas Neue', cursive;
$fnt-secondary: 'Raleway', sans-serif;


// Appearance
$border-radius: 0px;


// PATTERNS
.bg-pattern-light {
	background-color: #e0e0dd;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d4d4c8' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-pattern-brick {
	background-color: #771813;
	background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23853631' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}





// Bootstrap Import
@import "../node_modules/bootstrap/scss/bootstrap";


// Custom CSS
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $fnt-secondary;
}

.btn {
	text-transform: uppercase;
	font-family: $fnt-primary;
	font-size: 1.5rem;
}

body {
	background-color: $clr-dark;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234d5160' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

body > .container:first-of-type {
	margin-top: 5rem;
}

body > .container-fluid:first-of-type {
	padding-top: 5rem;
}

// body > .container:last-of-type {
// 	margin-bottom: 1rem;
// }

// body > .container-fluid:last-of-type {
// 	padding-bottom: 1rem;
// }

// FONTS
h1,h2,h3,h4,h5,h6 {
	font-family: $fnt-primary;
	color: $clr-primary;
}

p {
	line-height: 1.7rem;
}

.close, .close:hover {
	color: #fff;
}

// Modal
.menu-modal__header {
	border-bottom: 5px solid $clr-secondary;
	border-radius: 0;
}


// HEADER
.header {
	position: fixed;
	top: 0px;
	width: 100vw;
	z-index: 5;
	border-bottom: 5px solid $clr-secondary;
}

.brand--text {
	font-family: $fnt-primary;
	font-size: 1.5rem;
}

.header__btn {
	border: none;
}

.navbar-toggler {
	padding: 0;
}

.navbar-collapse {
	padding: 0 1rem;
}

.navbar-dark .navbar-nav .nav-link {
	text-transform: uppercase;
	color: $clr-light;
	border: 2px solid rgba($clr-primary, 0);
	font-size: .8rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: $clr-light;
	border: 2px solid $clr-light;
	transition: .5s;
}

.nav-link.active {
	font-weight: bold;
}

.social-nav {
	margin-left: auto;
	flex-direction: row;
}

.social-nav .nav-item .nav-link {
	font-size: 1.25rem;
	padding: 0;
	margin-right: 20px;
	border: none;
}

.social-nav .nav-item .nav-link:hover {
	color: $clr-secondary;
	border: none;
}


.jumbotron {
	height: 200px;
	position: relative;
	overflow: hidden;
	background-color: rgba(0,0,0,0);
}

.carousel-indicators.menu-slider-indicators {
	z-index: 4;
}

// FOOTER
.footer {
	position: absolute;
	width: 100%;
	padding: .5rem 1rem;
	border-top: 5px solid $clr-secondary;
}

// OBJECTS
.photo-frame {
	background-color: #fff;
	box-shadow: 3px 3px 3px rgba(#000, .5);
}


// CARDS
.card {
	box-shadow: 0 0 10px rgba(#000, .1);
}

// ==LANDING==
.hero-slider__img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.hero__text {
	background-color: rgba(#000, .6);
	width: 80vw;
	padding: 2rem 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	font-size: 2.5rem;
}

.hero__head {
	color: #fff;
	font-size: 1em;
}

.hero__subhead {
	font-size: .35em;
}

.hero__btn {
	font-size: .5em;
}


// ==ABOUT==
.jumbotron-about {
	background-image: url("../images/about-main.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.jumbotron__head {
	background-color: rgba(#000, .4);
	text-shadow: 2px 2px 5px #000;
	color: $clr-light;
	width: 100%;
	text-align: center;
	font-size: 3rem;
	letter-spacing: .3rem;
	padding: 3rem 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


//==MENU== 
.slider__img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.menu-img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border: 3px solid rgba(#fff, 0);
}

.menu-img:hover {
	cursor: pointer;
	border-color: rgba(#fff, 1);
	transition: 1s;
	transform: scale(1.01);
}

.menu-modal {
	max-width: 1100px;
}

.menu-modal__title {
	font-size: 2rem;
}

.menu-modal__body {
	text-align: center;
	padding: 2rem;
}


// ==CONTACT==
.jumbotron-contact {
	background-image: url("../images/contact-main.jpg");
	background-size: cover;
	background-position: center;
}

.contact-map {
	width: 100%;
	height: 300px;
}

.contact-btn {
	font-size: 1rem;
}

.contact-row {
	display: flex;
}

.contact-icon {
	display: block;
	width: 5%;
	max-width: 2rem;
	min-width: 2rem;
	position: relative;
	top: 3px;
	color: $clr-primary;
}

.contact-data {
	display: block;
	width: 95%;
	line-height: 1.5rem;
}

.contact-link {
	color: $clr-dark;
}


// ==HOME==
.jumbotron-home {
	background-size: cover;
	background-position: center;
}

.page-header {
	font-size: 2rem;
}

.border-bottom-secondary {
	border-bottom: 5px solid $clr-secondary;
}

.page-header--light {
	color: $clr-light;
}

.section--dark {
	background-color: rgba(#000, .6);
}



// ===MEDIA QUERIES===


// Tablet
@media only screen and (min-width: 576px) {
	.jumbotron {
		height: 400px;
	}

	// NAV
	.social-nav .nav-item .nav-link {
		margin-right: 0;
		margin-left: 20px;
	}
	
	// HERO
	.hero__text {
		width: 70vw;
		padding: 3rem;
		font-size: 4rem;
	}
	
	
	// ==ABOUT==
	.about-main-img {
		height: 500px;
	}
	
	.about-main-img > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.about-card {
		height: max-content;
		min-height: 400px;
	}
	
	
	// ==MENU==
	.slider__img {
		height: 400px;
	}
	
    .menu-img {
		height: 100%;
	}
	
	.menu-modal {
		width: 90vw;
	}


	// ==HOME==
	.page-header {
		font-size: 3rem;
	}
    
}

// Moble Landscape
@media only screen and (min-width: 576px) and (max-height: 420px) and (orientation: landscape) {
	// HERO
	.hero__text {
		width: unset;
		padding: 2rem;
		font-size: 2.5rem;
		left: 5%;
		transform: translateX(0%);
		transform: translateY(-50%);
		top: 55%;
	}

	// Home
	.about-card {
		height: max-content;
		min-height: 420px;
	}

	// About
	.about-img--left {
        transform: rotate(-7.5deg);
	}
	
	.about-img--right {
		transform: rotate(7.5deg);
    }

	// Jumbotron
	.jumbotron {
		height: 200px;
	}

	.slider__img {
		height: 200px;
	}

	// Headings
	.page-header {
		font-size: 2rem;
	}

	.subhead-menu {
		font-size: 1.5rem;
	}

	// Modals
	.menu-modal {
		width: 55vw;
	}

	.menu-modal__header {
		padding: .5rem 1rem;
	}

	.menu-modal__title {
		font-size: 1.25rem;
	}
	
	.menu-modal__body {
		padding: 1rem;
		font-size: .8rem;
	}

}

// Desktop
@media only screen and (min-width: 992px) and (orientation: landscape) {
	// HERO
	.hero__text {
		width: unset;
		padding: 5rem;
		left: 30%;
		font-size: 3rem;
	}

	.about-img--left {
        transform: rotate(-7.5deg);
	}
	
	.about-img--right {
		transform: rotate(7.5deg);
    }

}

// Large Screens
@media only screen and (min-width: 1200px) and (orientation: landscape) {
	// HERO
	.hero__text {
		font-size: 4rem;
		top: 50%;
		left: 10%;
		transform: translateX(0%);
		transform: translateY(-50%);
	}
}